// colors
$blue: #3068BA
$green: #53B64B
$orange: #F48136
$yellow: #F9F1A9
$color-text: #000000 !default
$color-background: $yellow
$color-accent: $yellow
$color-text-alt: $color-text
// typography
$body-font-family: "Times Now"
$heading-font-family: "Authentic Sans"
$accent-font-family: "Authentic Sans Condensed"

$body-size: pxToRem(30)
$body-weight: 400
$body-line-height: 1

$heading-font-weight: $body-weight
$h1-size: pxToRem(49)
$h1-font-family: $body-font-family
$h1-size-desktop: pxToRem(65)
$h1-size-xxl: pxToRem(85)
$h1-weight: $heading-font-weight
$h2-font-family: $h1-font-family
$h2-size: pxToRem(35)
$h2-size-desktop: pxToRem(49)
$h3-font-family: $h1-font-family
$h3-size: pxToRem(25)
$h3-size-desktop: pxToRem(35)
$h3-weight: normal
$lead-sidebar-font-family: $h1-font-family
$lead-font-family: $h1-font-family

$meta-font-family: $heading-font-family

// header
$header-background: $yellow
$header-logo-height-desktop: 45px
$header-border-bottom-width: 0

// footer
$footer-background-color: $yellow

// hero
$hero-background-color: transparent
$hero-height: unset
$hero-height-desktop: unset

// breadcrumb
$breadcrumb-icon-color: var(--color-text)

// Chapter
$block-chapter-layout-accent-background: transparent
$block-chapter-layout-accent-font-size: pxToRem(49)