// COLORS
main
    body:not(.projects__section, .posts__section) &
        --color-text: var(--color-text-alt)
        background-color: $blue
    .projects__section &
        background-color: $orange
    .posts__section &
        background-color: $green

// Yellow hero
.page__home,
.posts__page
    .hero
        background: $yellow
        color: black