// COLORS
main
    body:not(.projects__section, .posts__section, .posts__page, .projects__page) &
        --color-text: var(--color-accent)
        color: var(--color-text)
        background-color: $blue
    .projects__section &,
    .projects__page &,
        background-color: $orange
    .posts__section &,
    .posts__page &
        background-color: $green

// Yellow hero
.page__home,
.posts__page
    .hero
        background: $yellow
        color: black

// Home
.page__home
    main
        padding-bottom: $block-space-y


// Footer
footer#document-footer
    @include media-breakpoint-up(desktop)
        ul:not(.dropdown-menu)
            &, &.footer-social.site-links
                li + li
                    margin-top: 0
        .footer-expertises
            display: block
            ul
                display: flex
                width: 100%
                &:first-of-type
                    justify-content: space-between
                + ul
                    justify-content: space-around
                    margin-top: $spacing-6
        .footer-social
            display: flex
            justify-content: space-between
            gap: var(--column-width)
            width: 100%
            li
                &:first-child::after
                    display: none
                &:nth-child(2)
                    margin-left: auto
                &:not(:first-child)
                    flex-direction: row-reverse
                    &::after
                        margin-left: 0
                        margin-right: $spacing-2